body {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* PINK NAV BAR */
.navbar {
  background-color: #e21b70;
  align-items: center;
  padding: 10px 5%;
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.riderbag {
  filter: invert(100%);
  margin-left: 40vw;
}
.navtext {
  color: white;
  font-family: verdana;
  font-weight: 1000;
  font-size: larger;
  margin-left: 3vw;
}
.navsignup {
  background-color: transparent;
  color: white;
  border-color: white;
  transition-duration: 0.2s;
  cursor: pointer;
  font-size: 15px;
  border-radius: 10px;
  padding: 18px;
  text-align: center;
  margin-left: 8vw;
}
.navsignup:hover {
  background-color: white;
  color: black;
}

/* WHITE NAV BAR  */
.whitenavbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px 20px;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  box-shadow: 0 2px 28px 0 rgb(0 0 0 / 12%);
}
.nav-left {
  position: relative;
  right: 250px;
}
.pandaimg {
  align-items: center;
  width: 30px;
  height: 28px;
  border-radius: 5px;
}
.whitenavtext {
  color: #e21b70;
  font-family: verdana;
  font-size: 20px;
  font-weight: bold;
}
.nav-right {
  position: relative;
  left: 280px;
}
.login {
  border: 1px solid #333;
  background-color: transparent;
  color: #333;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  font-weight: bold;
}
.login:hover {
  background-color: rgba(204, 193, 193, 0.69);
  background-blend-mode: multiply;
}
.signup {
  width: 80px;
  height: 45px;
  background-color: #e21b70;
  font-size: 15px;
  border-radius: 10px;
  color: black;
  margin: 4px;
  text-align: center;
  border: none;
  color: white;
  margin-left: 15px;
}
.signup:hover {
  background-color: rgb(138, 1, 47);
  background-blend-mode: multiply;
}
.dropdown {
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  font-size: 22px;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}
.browserlogo {
  align-items: center;
  width: 40px;
}
.basket-logo {
  width: 40px;
}

/* HERO SECTION */

.hero-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  background-color: #f7f7f7;
  width: 80%;
}
.left-sec {
  max-width: 50%;
}
.hero-text {
  font-size: 3em;
  margin-bottom: 15px;
}
.text-inp {
  display: flex;
  margin-top: 10px;
}
.inp-locate {
  padding: 10px;
  border: 1px solid #ddd;
  flex: 1;
  border-radius: 5px 0 0 5px;
}
.pandaandfood {
  width: 100%;
  position: relative;
  left: 15%;
}

/* SECOND HERO SECTION  */
.sechero {
  background-color: white;
  margin: 0px;
  height: 750px;
}

.secherohead {
  margin-left: 80px;
  padding-left: 70px;
}
.chef-img {
  width: 100%;
  height: 600px;
}
.box {
  background-color: white;
  box-shadow: 0 2px 28px 0 rgb(0 0 0 / 12%);
  border-radius: 15px;
  width: 500px;
  height: 200px;
  padding: 25px;
  margin-left: 130px;
  position: relative;
  bottom: 150px;
}
.started {
  width: 90px;
  height: 45px;
  background-color: #e21b70;
  font-size: 15px;
  border-radius: 10px;
  color: black;
  margin: 4px;
  padding: 2px;
  text-align: center;
  border: none;
  color: white;
  margin-left: 15px;
}
.started:hover {
  background-color:rgb(138, 1, 47);
  background-blend-mode: multiply;
}

      /* CITIES PORTION */
.cities-sec {
   margin: 70px; 
}
.main-heading {
  font-size: 30px;
  padding: 0px 60px;
}
.container {
   display: flex;
  justify-content: center; 
  flex-wrap:wrap; 
  padding: 20px;
  border-color: #e21b70;
}
.cards {
  height: 200px;
  min-width: 300px;
  max-width: 500px;
  position: relative;
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 1rem;
}
.citycard-img {
  width: 100%;
  height:100%;
  transition: 0.3 ease; 
  border-radius: 25px;
}
.citycard-img:hover {
   transform: scale(1.1); 
}
.image-text {
  position: absolute;
  bottom: 2px;
  left: 3px;
  font-size: 0.9rem;
  background-color: white;
  border-radius: 10px;
  padding: 9px;
  margin: 10px;
}

     /* DOWNLOAD SECTION */
.down-sec{margin: 0px;
}
.down-head{margin-left: 70px;
padding-left: 60px;
}
.whole-cont{background-color: #e21b70;
  color: white; 
  border-radius: 20px;
  margin:10px 120px;
  padding: 30px;
  width: 75%;
  height: 25%;
z-index: 1;
}
.down-left{flex: 1;
  max-width: 500px;
  text-align: left;
}
.down-ali{ display: flex;
  flex-direction: row;
  align-items: center;
}
.down-img{ width: 14%;
margin: 10px 3px;
padding:10px;
border: 1px solid white;
border-radius: 6px;
}
.para{
display: flex;
justify-content: center;
margin-left: 40px; */
margin-top: 120px;
}
.apple{width: 120px;
  margin: 10px;
}
.down-right{position: absolute;
right: 100px;
}
.foodpanda-mob{
  width: 555px;
  position: relative;
  right: 85px;
  bottom: 350px;
}


     /* OFFICE SECTION */
.off-sec{background-color: white;
  margin: 0px;
  height: 750px;
}
.offsec-head{ margin-left: 80px;
  padding-left: 70px;

}
.office-img{width: 100%;
  height: 600px;
}
.off-box{background-color: white;
  box-shadow: 0 2px 28px 0 rgb(0 0 0 / 12%);
  border-radius: 15px;
  width: 500px;
  height: 180px;
  padding: 10px;
  margin-left: 130px;
  position: relative;
  bottom: 150px;
}

       /* TEXT SECTION */
.text-sec{margin: 130px;}
.text-heading{color: rgb(62, 59, 59);}
.text-para{color: rgb(52, 47, 47);}
.check{color: #e21b70;}
 .text-para a{color: #e21b70;}


        /* /* FOOTER  */
.footer-top{margin: 0px 130px;}        
        .container {margin: 0px 150px;
          text-align: center;
           display: flex;
          justify-content: space-between; 
          color: black;
        }
        .column {
          display: flex;
          flex-direction: column; 
        }
        .column a {
          margin-bottom: 10px; 
          text-decoration: none; 
           color: black;
           }
.footer-bottom{margin: 0px 130px;

}
.fimg-sec{

}        
.delivery-hero{ width: 30px;
  height: 28px;
}
.delivery-hero{color:#D61F26;
font-family: verdana;}{position: absolute;
left: 600px;}
.right{position: absolute;
left: 1000px;}