/* PINK NAV BAR */
.navbar {
  background-color: #e21b70;
  align-items: center;
  margin: 0;
  padding: 0;
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.riderbag {
  filter: invert(100%);
  margin-left: 40vw;
}
.navtext {
  color: white;
  font-family: verdana;
  font-weight: 1000;
  font-size: larger;
  margin-left: 3vw;
}
.navsignup {
  background-color: transparent;
  color: white;
  border-color: white;
  transition-duration: 0.2s;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  padding: 18px;
  text-align: center;
  margin-left: 8vw;
}
.navsignup:hover {
  background-color: white;
  color: black;
}

/* WHITE NAV BAR  */
.whitenavbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px 20px;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  box-shadow: 10px rgb(181, 181, 231);
}

.pandaimg {
  display: flex;
  align-items: center;
}
.pandaimg img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.whitenavtext {
  color: #e21b70;
  font-family: verdana;
  font-size: 20px;
  font-weight: bold;
}

.nav-right {
  display: flex;
  align-items: center;
}

.login {
  border: 1px solid #333;
  background-color: transparent;
  color: #333;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  font-weight: bold;
}

.login:hover:focus {
  background-color: rgba(204, 193, 193, 0.69);
  font-size: 25px;
}

.signup {
  width: 80px;
  height: 45px;
  background-color: #e21b70;
  font-size: 15px;
  border-radius: 10px;
  color: black;
  margin: 4px;
  text-align: center;
  border: none;
  color: white;
  margin-left: 15px;
}
/* .signup:hover {
  font-size: 25px;
} */
.dropdown {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: 5px;
}

.browserlogo {
  width: 30px;
  margin-right: 5px;
}
.arrow-icon {
  border: solid #e21b70;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 5px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  z-index: 10;
  width: 150px;
  display: block;
}
.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  border-radius: 5px;
}
.dropdown:hover {
  background-color: #f8f8f8;
}

.en {
  font-weight: bolder;
  margin-left: 5px;
}

.arrow-icon {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.chk-icon {
  color: #ff007f;
  width: 30px;

  width: 16px;
  height: 16px;
  display: inline-block;
  border: 2px solid #e6007e;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  margin-left: 8px;
  visibility: hidden;
}

.basket-logo {
  width: 40px;
  margin-left: 125px;
  text-align: center;
}
/* HERO SECTION */

.hero-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #f7f7f7;
}

.left-sec {
  max-width: 50%;
}

.hero-text {
  font-size: 3em;
  margin-bottom: 15px;
}

.text-inp {
  display: flex;
  margin-top: 10px;
}

.inp-locate {
  padding: 10px;
  border: 1px solid #ddd;
  flex: 1;
  border-radius: 5px 0 0 5px;
}

.pandaandfood {
  width: 90%;
  position: relative;
  left: 50%;
}

/* SECOND HERO SECTION  */
.sechero {
  background-color: white;
  margin: 0px;
}

.secherohead {
  margin-left: 80px;
  padding-left: 70px;
}

.chef-img {
  width: 100%;
  height: 600px;
}

.box {
  background-color: white;
  border-radius: 15px;
  width: 500px;
  height: 200px;
  padding: 20px;
  margin-left: 60px;
  position: relative;
  bottom: 150px;
}
.started {
  width: 90px;
  height: 50px;
  background-color: #e21b70;
  font-size: 15px;
  border-radius: 10px;
  color: black;
  margin: 4px;
  text-align: center;
  border: none;
  color: white;
  margin-left: 15px;
}
/* CITIES PORTION */
/* .branches-portion{ background-color: aqua; */
/* margin: 5vw;
  padding: 10vw;
  display: grid;
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
/* } 
.main-heading {
  font-family: Arial black;
  word-spacing: 1px;
  margin: 8vw;
  background-color: blue;
}
.image-card {
 background-color: purple;
}
.card-img{border-radius: 30px;
width: 300px;
height: 200px
display: ;
}
.image-text {
  background-color: white;
  border-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-size: 18px;
  bottom: 40px;
  left: 10px;
  position: relative;
}  */
*/ .branches-portion {
  background-color: aqua;
  margin: 10px;
  display: flexbox;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  position: relative;
}
.card-img {
  border-radius: 30px;
  /* background-color: aqua; */
  height: 20%;
  display: block;
}

.image-card {
  background-color: purple;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.image-text {
  background-color: rgb(37, 195, 39);
  border-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-size: 18px;
  bottom: 80px;
  left: 10px;
  position: relative;
}
